<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<footer  th:fragment = "footer">
    <div class="container">
        <div class="row">
<!--             <div class="col-md-4 col-sm-3"> -->
<!--                 <h3>Pagos seguros</h3> -->
<!--                 <p> -->
<!--                     <img src="img/cards.png" alt="" class="img-responsive"> -->
<!--                 </p> -->
<!--             </div> -->
<!--             <div class="col-md-3 col-sm-3"> -->
<!--                 <h3>Sobre</h3> -->
<!--                 <ul> -->
<!--                     <li><a href="about.html">Sobre nosotros</a></li> -->
<!--                     <li><a href="faq.html">Preguntas</a></li> -->
<!--                     <li><a href="contacts.html">Contactanos</a></li> -->
<!--                     <li><a href="#0" data-toggle="modal" data-target="#login_2">Ingresar</a></li> -->
<!--                     <li><a href="#0" data-toggle="modal" data-target="#register">Registrarse</a></li> -->
<!--                     <li><a href="#0">Terminos y condiciones</a></li> -->
<!--                 </ul> -->
<!--             </div> -->
<!--             <div class="col-md-3 col-sm-3" id="newsletter"> -->
<!--                 <h3>Correo</h3> -->
<!--                 <p> -->
<!--                    Suscribete para mantenerte informado sobre novedades. -->
<!--                 </p> -->
<!--                 <div id="message-newsletter_2"> -->
<!--                 </div> -->
<!--                 <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2"> -->
<!--                     <div class="form-group"> -->
<!--                         <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Correo electrónico" class="form-control"> -->
<!--                     </div> -->
<!--                     <input type="submit" value="Subscribete" class="btn_1" id="submit-newsletter_2"> -->
<!--                 </form> -->
<!--             </div> -->
<!--             <div class="col-md-2 col-sm-3"> -->
<!--                 <h3>Configuracion</h3> -->
<!--                 <div class="styled-select"> -->
<!--                     <select class="form-control" name="lang" id="lang"> -->
<!--                         <option value="English" >Ingles</option> -->
<!--                         <option value="Spanish" selected>Español</option> -->
<!--                     </select> -->
<!--                 </div> -->
<!--                 <div class="styled-select"> -->
<!--                     <select class="form-control" name="currency" id="currency"> -->
<!--                         <option value="USD" >USD</option> -->
<!--                       <option value="MXN" selected>MXN</option> -->
<!--                     </select> -->
<!--                 </div> -->
<!--             </div> -->
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>
                        © DÓNDE & CÓMO APP
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    </footer>
</body>
</html>